body{
  width: 100vw;
}
.navigation{
  margin: 0;
}
.card{
  height: 40rem;
}
.chips{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.movieCard{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}